.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8ff;
}

.signup-box {
  width: 70%;
  height: 65%;
  background: white;
  border-radius: 12px;
  display: flex;
  box-shadow: 0px 4px 20px rgba(51, 0, 102, 0.15);
}

.signup-left {
  width: 50%;
  background: white;
  border-right: 1px solid rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-logo {
  width: 75%;
}

.signup-right {
  width: 50%;
  background: #7e3ff2;
  border-radius: 0 12px 12px 0;
  padding: 50px 40px;
  color: white;
}

.signup-right h2 {
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-right p {
  margin-bottom: 25px;
  opacity: 0.8;
}

.signup-right form {
  display: flex;
  flex-direction: column;
}

.signup-right label {
  margin-bottom: 5px;
  font-size: 14px;
}

.signup-right input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.signup-btn {
  background: white;
  color: #7e3ff2;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background: #e9d9ff;
}

.back-link {
  margin-top: 18px;
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
}
